body{
    background-color: rgb(85, 138, 148);
    text-align: center;
    color :black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    color:rgb(222, 238, 241);
    text-decoration: none;
}

a:hover{
    color: rgb(13, 73, 130);
}

main{
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}

h2{
    text-align: center;

}

img{
    width: 80%;
}

figure{
    text-align: center;
    font-style: italic;
}